<h4>Filter</h4>
<input type='text' ng-model='currentFilter'>
<table class="table table-striped">
  <thead>
    <th>Symbol</th>
    <th>Price</th>
    <th>1 day ago</th>
    <th>7 days ago</th>
    <th>30 days ago</th>
    <th>Trade?</th>
  </thead>
  <tbody>
    <tr ng-repeat='(symbol, data) in stocksTable | stockFilter: currentFilter' ng-model="stocksTable">
      <td>{{ symbol }}</td>
      <td>{{ data['0'] | currency }}</td>
      <td>{{ data['0'] - data['1'] | currency }}</td>
      <td>{{ data['0'] - data['7'] | currency }}</td>
      <td>{{ data['0'] - data['30'] | currency }}</td>
      <td><a ui-sref='index.trade({symbol: symbol, data: data})'>trade</a></td>
    </tr>
  </tbody>
</table>
