<h1>Stock Panel</h1>
<table class="table table-striped">
  <thead>
    <th>Symbol</th>
    <th>Price</th>
    <th>1 day ago</th>
    <th>7 days ago</th>
    <th>30 days ago</th>
    <th>Trade?</th>
  </thead>
  <tbody>
    <tr ng-repeat='(symbol, data) in stocksByDate'>
      <td>{{ symbol }}</td>
      <td>{{ data['0'] | currency }}</td>
      <td>{{ data['1'] | currency }}</td>
      <td>{{ data['7'] | currency }}</td>
      <td>{{ data['30'] | currency }}</td>
      <td>trade</td>
    </tr>
  </tbody>
</table>
<button ng-click='getByDate()'>Get Data</button>