<h4>Filter</h4>
<input type='text' ng-model='currentFilter'>
<table class="table table-striped">
  <thead>
    <th ng-click="setOrder(symbol)">Symbol</th>
    <th ng-click="setOrder(data['0'])">Price</th>
    <th ng-click="setOrder(data['0'] - data['1'])">1 day ago</th>
    <th ng-click="setOrder(data['0'] - data['7'])">7 days ago</th>
    <th ng-click="setOrder(data['0'] - data['30'])">30 days ago</th>
    <th ng-click="setOrder(trade)">Trade?</th>
  </thead>
  <tbody>
    <tr ng-repeat='(symbol, data) in stocksTable | stockFilter: currentFilter | orderBy: currentOrder' ng-model="stocksTable">
      <td>{{ symbol }}</td>
      <td>{{ data['0'] | currency }}</td>
      <td>{{ data['0'] - data['1'] | currency }}</td>
      <td>{{ data['0'] - data['7'] | currency }}</td>
      <td>{{ data['0'] - data['30'] | currency }}</td>
      <td><a ui-sref='index.trade({symbol: symbol, data: data})'>trade</a></td>
    </tr>
  </tbody>
</table>
