<h3>Trade</h3>
<div class='col-xs-5'>
  <form name='tradeForm'>
    <label for='symbol'>Symbol</label>
    <p>{{ tradeSymbol }}</p>
    <br>
    <label for='tradeType'>Buy/Sell</label>
    <select id='tradeType' ng-model='tradeType'>
      <option>Buy</option>
      <option>Sell</option>
    </select>
    <br>
    <label for='quantity'>Quantity</label>
    <input type='text' id='quantity' ng-model='tradeQuantity' ng-required='true' ng-min='1'>
    <br>
    <label for='date'>Date</label>
    <p>{{ tradeDate | date }}</p>
    <br>
    <p>Price: {{ price | currency }}</p>
    <p>Cost: {{ price * tradeQuantity | currency }}</p>
    <br>
    <button class='btn btn-submit' ui-sref='index.transactions({quantity: tradeQuantity, symbol: tradeSymbol, price: price, date: tradeDate, type: tradeType})'>Place Order!</button>
  </form>
</div>
<div class='col-xs-4 col-xs-offset-3'>
  <p>Cash Available: {{ totalCash | currency }}</p>
  <p>Order Status: {{ orderStatus }}</p>
</div>